.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 1vw;
  min-height: 10vh;
  width: 100%;
  padding: 1vw;
}

.logo {
 text-decoration: none; 
 margin: inherit;
 color: var(--white);
}

.logo:hover {
  text-decoration: none; 
 }

.light_theme {
  color: var(--black);
}

.dark_theme {
  color: var(--white);
}

.themeToggle {
  padding-right: 1vh;
  height: 4vh;
  width: 4vh;
  cursor: pointer;
}
