* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --bule-light: rgb(0, 110, 250);
  --gray-ligth: rgb(230, 230, 230);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  --background: var(--white);
  --foreground: var(--black);
  --accent: var(--bule-strong);
  --primary-gray: var(--gray-ligth);
  --primary-blue: var(--bule-light);
  --secundary-blue: rgba(red(var(--primary-blue)),
      green(var(--primary-blue)),
      blue(var(--primary-blue)),
      0.3);
  --secundary-gray: rgba(red(var(--primary-gray)),
      green(var(--primary-gray)),
      blue(var(--primary-gray)),
      0.3);
}

.dark-theme {
  --blue-dark: rgb(0, 20, 200);
  --gray-dark: rgb(30, 30, 30);

  --background: var(--black);
  --foreground: var(--white);
  --accent: var(--bule-strong);
  --primary-gray: var(--gray-dark);
  --primary-blue: var(--blue-dark);
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.dark-theme a {
  color: var(--primary-blue);
}

.accent-element {
  color: var(--accent);
}

.accent-background {
  background-color: var(--accent);
}