* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --primary-gray: rgb(230, 230, 230);
  --primary-blue: rgb(0, 110, 250);
  --secundary-blue: rgba(0, 110, 250, 0.3);
  --secundary-gray: rgba(230, 230, 230, 0.3);

  --background: var(--white);
  --foreground: var(--black);
  --accent: var(--primary-blue);

  color: var(--accent);
  background-color: var(--background);
}

.dark-theme {
  --primary-gray: rgb(30, 30, 30);
  --secundary-blue: rgba(0, 20, 200, 0.3);
  --secundary-gray: rgba(30, 30, 30, 0.3);

  --background: var(--black);
  --foreground: var(--white);
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.accent-element {
  color: var(--accent);
}

.accent-background {
  background-color: var(--accent);
}

.error {
   color: 'red';
   margin: '1vh' 
}